{% extends "layout.twig" %} 

{% block content %}

  <h1>
    Hormas
    <small>Listado</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./shapelist">Hormas</a></li>
    <li class="active">Listado</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-10">
     <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listado de hormas</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
       <form action="shapedel" method="post" role="form">
        <table class="table table-bordered" >
          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 100px">Referencia</th>
            <th style="width: 100px">Linea</th>
            <th style="width: 100px">Color</th>
            <th style="width: 100px">Proveedor</th>
            <th style="width: 150px">Observacion</th>
          </tr>
          {% for shape in shapes %}
          <tr>
              <td>
                <input type="radio" name="id" value="{{ shape.id }}">
              </td>
              <td>{{ shape.referencia }}</td>
              <td>{{ shape.genero }}</td>
              <td>{{ shape.color }}</td>
              <td>{{ shape.idProveedor }}</td>
              <td>{{ shape.observacion }}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        <div class="box-footer">
          <button type="submit" name="boton" value="del" class="btn btn-primary">Eliminar</button>
          <button type="submit" name="boton" value="upd" class="btn btn-primary">Actualizar</button>
        </div>
       </form>
       <div class="box-footer">
       <form action="shapeadd" method="get">
        <button type="submit" class="btn btn-primary">Nuevo</button>
       </form>
       
       </div>
      </div>
      <!-- /.box-body -->
      </div>
    </div>

    

{% endblock %}
