{% extends "layout.twig" %} 

{% block content %}

  <h1>
    Clientes
    <small>Listado</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./customerlist">Clientes</a></li>
    <li class="active">Listado</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-10">
     <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listado de clientes</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
       <form action="customerdel" method="post" role="form">
        <table class="table table-bordered" >
          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 100px">Nombre</th>
            <th style="width: 100px">Apellido</th>
            <th style="width: 100px">Telefono</th>
            <th style="width: 150px">Direccion</th>
            <th style="width: 150px">Observacion</th>
          </tr>
          {% for customer in customers %}
          <tr>
              <td>
                <input type="radio" name="id" value="{{ customer.id }}">
              </td>
              <td>{{ customer.nombre }}</td>
              <td>{{ customer.apellido }}</td>
              <td>{{ customer.telefono }}</td>
              <td>{{ customer.direccion }}</td>
              <td>{{ customer.observacion }}</td>
          </tr>
          {% endfor %}
        </table>
        
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% for i in 1..numeroDePaginas %}
              {% if paginaActual == i %}
                <li class="page-item active"><a class="page-link" href="./customerlist?pag={{i}}">{{i}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="./customerlist?pag={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        
        <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        <div class="box-footer">
          <button type="submit" name="boton" value="del" class="btn btn-primary">Eliminar</button>
          <button type="submit" name="boton" value="upd" class="btn btn-primary">Actualizar</button>
        </div>
       </form>
       <div class="box-footer">
       <form action="customeradd" method="get">
        <button type="submit" class="btn btn-primary">Nuevo</button>
       </form>
       
       </div>
      </div>
      <!-- /.box-body -->
      </div>
    </div>

    

{% endblock %}
