{% extends "layout.twig" %}

{% block content %}

  <h1>
    Consulta
    <small>Estado del pedido</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./reportepedidoest">Consulta</a></li>
    <li class="active">Estado de pedido</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
     <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Seleccione un pedido y dele verificar</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
       <form action="querypedidoest" method="post" role="form">
        <table class="table table-bordered" >
          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 70px">Referencia</th>
            <th style="width: 70px">Cliente</th>
            <th style="width: 70px">Cantidad</th>
            <th style="width: 70px">Cant/Restante</th>
            <th style="width: 70px">FechaPedido</th>
            <th style="width: 70px">FechaEntrega</th>
          </tr>
          {% for pedido in pedidos %}
          <tr>
              <td>
                <input type="radio" name="id" value="{{ pedido.id }}">
              </td>
              <td>{{ pedido.referencia }}</td>
              <td>{{ pedido.nombre }}</td>
              <td>{{ pedido.cantidad }}</td>
              <td>{{ pedido.cantRestante }}</td>
              <td>{{ pedido.fechaPedido }}</td>
              <td>{{ pedido.fechaEntrega }}</td>
          </tr>
          {% endfor %}
        </table>


        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% for i in 1..numeroDePaginas %}
              {% if paginaActual == i %}
                <li class="page-item active"><a class="page-link" href="./pedidolist?pag={{i}}">{{i}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="./pedidolist?pag={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        

        <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Verificar</button>
        </div>
       </form>
      </div>
      <!-- /.box-body -->
      </div>
    </div>


{% endblock %}
