{% extends "layout.twig" %}

{% block content %}


  <h1>
    Nomina
    <small>Por operario</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./rosterlist">Consulta</a></li>
    <li class="active">Nomina por operario</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <!-- general form elements -->
      <div class="box box-primary" >
        <div class="row">
          <div class='col-xs-12 col-sm-12 col-md-12' style="padding-left: 30px;">
            <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <h3><strong>{{ people.nombre }} {{ people.apellido }}</strong></h3>
            </div>
            </div>
            <form action="payroll" method="post" role="form">
            <input type="hidden" name="idPersona" value="{{ people.id }}">
            <div class="table-responsive">
              <table class='table table-striped table-sm'>
                <tr>
                  <th style='width: 50px'>Pagar</th>
                  <th style='width: 150px'>Actividad</th>
                  <th style='width: 100px'>Ref Orden</th>
                  <th style='width: 100px'>Valor x Par</th>
                  <th style='width: 100px'>Pares</th>
                  <th style='width: 100px'>Total Tarea</th>
                </tr>
                {% set totalNomina = 0 %}
                {% set cantidadTickets = 0 %}
                {% for tarea in tareasNoPagas %}
                  <tr>
                    <input type="hidden" name="idTareas[]" value="{{ tarea.id }}">
                    <td> <input type="checkbox" name="check{{ tarea.id }}" checked> </td>
                    <td> {{ tarea.nombre }} </td>
                    <td> {{ tarea.referenciaOrd }} </td>
                    <td> {{ tarea.valorTarea }} </td>
                    <td> {{ tarea.cantidadPares }} </td>
                    {% set totalTarea = tarea.valorTarea * tarea.cantidadPares %}
                    <td> {{ totalTarea }} </td>
                    <input type="hidden" name="totalTarea{{ tarea.id }}" value="{{ totalTarea }}">
                  </tr>
                  {% set totalNomina = totalNomina+totalTarea %}
                  {% set cantidadTickets = cantidadTickets+1 %}
                {% endfor %}
              </table>
            </div>

            <div class='col-xs-12 col-sm-12 col-md-12'>
              <strong>Cantidad de tareas: ${{ cantidadTickets }}</strong>
            </div>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <strong>Nomina: ${{ totalNomina }}</strong>
            </div>
            <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12'>
              </br>
              <input type="submit" value="Pagar Nomina">
              <!--<input type="submit" value="Pagar Nomina" disabled="true">-->
            </div>
            </div>
            </form>
              
              <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
              {{ responseMessage }}
            </div>
         </div>
       </div>
      </div>


{% endblock %}
