{% extends "layout.twig" %}

{% block content %}



<h1>
    Tarea
    <small>Actualizacion</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./tarealist">Tarea</a></li>
    <li class="active">Actualizacion</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Asígnele el operario a la actividad de esta tarea</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="./tareaupdate" method="post" role="form">
          <div class="box-body">
            <div class="form-group">
              {% for tarea in tareas %}
              	<input type="hidden" name="id" value="{{ tarea.id }}" class="form-control" placeholder="" required>
              {% endfor %}
            </div>
            <div class="form-group ">
              <label>Referencia Orden Produccion:</label>
              {% for tarea in tareas %}
              	<input type="text" name="refOrden" value="{{ tarea.referenciaOrd }}" class="form-control" disabled>
              {% endfor %}
            </div>
            <div class="form-group">
              <label>Actividad:</label>
              {% for tarea in tareas %}
              	<input type="text" name="nombreActTarea" value="{{ tarea.nombre }}" class="form-control" required disabled>
              {% endfor %}
            </div>
            <div class="form-group">
              <label>Operario: </label>
              {% for tarea in tareas %}
              <select class="form-control select-picker" name="idOperario" required>
                <option value="">Seleccione el operario</option>
                {% for people in peoples %}
                  {% if tarea.idOperario == people.id %} 
                    <option value="{{ people.id }}" selected="selected">{{ people.nombre }} {{ people.apellido }}</option>
                  {% else %}
                    <option value="{{ people.id }}">{{ people.nombre }} {{ people.apellido }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              {% endfor %}
            </div>
            <input type="hidden" name="multiple" value="0">
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" name="boton" value="btnCode" class="btn btn-primary">Registrar</button>
          </div>

          <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
            {{ responseMessage }}
          </div>
        </form>
      </div>





{% endblock %}
