{% extends "layout.twig" %}

{% block content %}
<h1>
    Hormas
    <small>Actualizacion</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./shapelist">Hormas</a></li>
    <li class="active">Actualizacion</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Actualice la horma</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="./shapeupdate" method="post" role="form">
          <div class="box-body">
            <div class="form-group">
              <input type="hidden" name="id" value="{{ shapes.id }}" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
              <label>Referencia:</label>
              <input type="text" name="referencia" value="{{ shapes.referencia }}" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
              <label>Linea:</label>
              <select class="form-control select-picker" id="genero" name="genero" required>
                <option value="1"{% if shapes.genero == 1 %}selected="selected"{% endif %}>Caballero</option>
                <option value="2"{% if shapes.genero == 2 %}selected="selected"{% endif %}>Dama</option>
                <option value="3"{% if shapes.genero == 3 %}selected="selected"{% endif %}>Niño</option>
                <option value="4"{% if shapes.genero == 4 %}selected="selected"{% endif %}>Niño2</option>
                <option value="5"{% if shapes.genero == 5 %}selected="selected"{% endif %}>Bebe</option>
              </select>
            </div>
            <div class="form-group">
              <label>Color:</label>
              <input type="text" name="color" value="{{ shapes.color }}" class="form-control" placeholder="Opcional">
            </div>
            <div class="form-group">
              <label>Proveedor:</label>
              <select class="form-control select-picker" name="idProveedor">
                {% for provider in providers %}
                  {% if shapes.idProveedor == provider.id %} 
                    <option value="{{ provider.id }}" selected="selected">{{ provider.nombre }}{{ idProveedorUpdate }}</option>
                  {% else %}
                    <option value="{{ provider.id }}">{{ provider.nombre }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>Observacion:</label>
              <input type="text" name="observacion" value="{{ shapes.observacion }}" class="form-control" placeholder="Opcional">
          </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>

          <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
            {{ responseMessage }}
          </div>
        </form>
      </div>
{% endblock %}
