{% extends "layout.twig" %}

{% block content %}

<h1>
    Modelo
    <small>Registro</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./modellist">Modelo</a></li>
    <li class="active">Registro</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Informacion del modelo</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="./modelupdate" method="post" role="form" enctype="multipart/form-data">
          <div class="box-body">
            <div class="form-group">
              <input type="hidden" name="id" value="{{ modelos.id }}" class="form-control" required>
            </div>
            <div class="form-group col-xs-6">
              <label>Referencia:</label>
              <input type="text" name="referenciaMod" class="form-control" placeholder="Maximo 12 digitos" maxlength="12" value="{{modelos.referenciaMod}}" required>
            </div>
            <div class="form-group col-xs-6">
              <label>Hormas:</label>
              <select class="form-control select-picker" name="idHorma" required>
                {% for shape in shapes %}
                  {% if modelos.idHorma == shape.id %} 
                    <option value="{{ shape.id }}" selected>{{ shape.referencia }}</option>
                  {% else %}
                    <option value="{{ shape.id }}">{{ shape.referencia }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-xs-6">
              <label>Linea:</label>
              <select class="form-control select-picker" id="linea" name="linea" required>
                {% for line in lines %}
                  {% if modelos.linea == line.id %} 
                    <option value="{{ line.id }}" selected>{{ line.nombreLinea }}</option>
                  {% else %}
                    <option value="{{ line.id }}">{{ line.nombreLinea }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-xs-6">
              <label>Tallas:</label>
              <select class="form-control select-picker" id="tallas" name="tallas">
                <option value="1"{% if modelos.tallas == 1 %}selected{% endif %}>37-44</option>
                <option value="2"{% if modelos.tallas == 2 %}selected{% endif %}>33-41</option>
                <option value="3"{% if modelos.tallas == 3 %}selected{% endif %}>27-33</option>
                <option value="4"{% if modelos.tallas == 4 %}selected{% endif %}>21-26</option>
                <option value="5"{% if modelos.tallas == 5 %}selected{% endif %}>15-20</option>
              </select>
            </div>
            <div class="form-group col-xs-12">
              <label>Imagen:</label>
              <input type="file" name="fileImg" class="form-control">
            </div>
            <input type="hidden" name="imagenUrl" value="{{ modelos.imagenUrl }}" required>
            <div class="box-body">
              
                
            </div>
            
            <!--Trae los materiales ya registrados para update-->
            <div class="box-header">
            <div class="box-header">
              <h3 class="box-title">Piezas del modelo ya registradas</h3>
            </div>
              <div class="box-body">
                <div class="row" style="padding-top: 10px;">
                  <div class="col-xs-4">
                    <label>Material:</label>
                  </div>
                  <div class="col-xs-4">
                    <label>Consumo/x/Par:</label>
                  </div>
                  <div class="col-xs-4">
                    <label>Observacion:</label>
                  </div>
                </div>
              {% set i = 0 %}
              {% for material in materiales %}
              <input type="hidden" name="idMaterial{{i}}" value="{{ material.id }}" class="form-control" required>
              <div class="row" style="padding-top: 10px;">
                <div class="col-xs-4">
                  <select class="form-control select-picker" id="idInventarioMaterial" name="idInventarioMaterial{{i}}">
                  {% for inventory in inventorys %}
                    {% if material.idInventarioMaterial == inventory.id %}
                      <option value="{{ inventory.id }}" selected>{{ inventory.nombre }}</option>
                    {% else %}
                      <option value="{{ inventory.id }}">{{ inventory.nombre }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                </div>
                <div class="col-xs-4">
                  <input type="text" class="form-control" name="consumoPorPar{{i}}" value="{{material.consumoPorPar}}" min="0" required>
                </div>
                <div class="col-xs-4">
                  <input type="text" name="observacion{{i}}" class="form-control" value="{{material.observacion}}">
                </div>
              </div>
              {% set i = i+1 %}
            {% endfor %}
            <input type="hidden" name="cantPiezas" value="{{ i }}" class="form-control" required>
            </div>
            </div>



            <!--Crea nuevos materiales pero si los deja vacios no se agregan, este ciclo no trae informacion ya registrada como el anterior, su objetivo es que pueda agregar materiales, que olvido registrar antes-->
            <div class="box-header">
              <div class="box-header">
                <h3 class="box-title">Piezas del modelo sin registrar</h3>
              </div>
              <div class="box-body">

                <div class="row" style="padding-top: 10px;">
                  <div class="col-xs-4">
                    <label>Material:</label>
                  </div>
                  <div class="col-xs-4">
                    <label>Consumo/x/Par:</label>
                  </div>
                  <div class="col-xs-4">
                    <label>Observacion:</label>
                  </div>
                </div>
              {% set cantPiezas = 3 %}
              {% for iterador in 1..cantPiezas %}
              <div class="row" style="padding-top: 10px;">
                <div class="col-xs-4">
                  <select class="form-control select-picker" name="idInventarioMaterialNew{{iterador}}">
                    <option value="">Seleccione un Material</option>
                  {% for inventory in inventorys %}
                    <option value="{{ inventory.id }}">{{ inventory.nombre }} (x) {{ inventory.unidadMedida }}</option>
                  {% endfor %}
                </select>
                </div>
                <div class="col-xs-4">
                  <input type="text" class="form-control" name="consumoPorParNew{{iterador}}" placeholder="Si queda vacio, no se registra" min="0">
                </div>
                <div class="col-xs-4">
                  <input type="text" name="observacionNew{{iterador}}" class="form-control">
                </div>
              </div>
            {% endfor %}
            <input type="hidden" name="cantPiezasNew" value="{{ cantPiezas }}" class="form-control" required>
            </div>
            </div>


          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <center><button type="submit" class="btn btn-primary">Registrar</button></center>
          </div>

          <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        </form>
      </div>

{% endblock %}
